.parent {
    width: 80%;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    }
    
    .heroPhrase{
    font-size: 260%;
    font-weight: 900;
    }
    
    .lead{
    font-size: 120%;
    font-weight: 600;
    }
    
    .banner {
    background-image:url(http://localhost/images/deloreanBanner.jpg);
    background-size: cover;
    border: 2px solid black;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .banner > p {
    color: black;
    padding: 10px;
    padding-right: 64%;
    }
    
    
    .storeName{
    color: black;
    text-decoration: none;
    }
    
    .icon{
    float: left;
    height:128px;
    width: 128px;
    margin: 12px;
    text-align: center;
    }
    
    .link {
    color: black;
    }
    
    .loginInfo {
    width: 50%;
    margin: auto;
    }
    
    .loginButton, .submitButton {
    width: 25%;
    margin: auto;
    }
    
    .otherlink {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    }
    
    .sponsors{
    width: 100%;
    height: 272px;
    margin-bottom: 1px;
    margin: auto;
    }
    
    .sponsorMessage{
    padding: 6px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: x-large;
    font-weight: 700;
    background-color: #e7836e;
    }
    
    .promise{
    width: 100%;
    height: 460px;
    background-color:grey;
    margin-bottom: 0;
    }
    
    .promiseData{
    float: left;
    padding-left: 40px;
    padding-top: 40px;
    }
    
    .sponsorTile{
    width: 140px;
    height: 140px;
    }
    
    .tablecell{
    vertical-align: auto;
    text-align: center;
    width:25%;
    }
    
    article {
    margin-left: 15%;
    margin-top: 10px;
    float: left;
    }
    
    img{
    margin-top: 12px;
    width: 220px;
    height: 200px;
    border: 3px solid black;
    }
    
    aside {
    margin: auto 0;
    padding: 2px;
    margin-right: 33%;
    float: right;
    
    }
    .information{
    margin: auto 24%;
    padding: 2px;
    
    }
    
    .productName{
    font-size: x-large;
    font-weight: 500;
    }
    
    aside > p {
    margin: .5rem;
    }
    
    body,html{
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0px;
    background-color: white;
    overflow-x: hidden;
    }
    
    footer{
    background-color: #e7836e;
    bottom: 0;
    height: 2rem;
    width: 100%;
    padding: 6px;
    padding-left: 20px;
    margin-top: 0px;
    
    }
    
    h1 {
    margin: 0px;
    font-family: Impact;
    color: black;
    }
    
    header{
    padding: 16px;
    padding-top: 42px;
    padding-bottom: 24px;
    background-color: #e7836e;
    width: 100%;
    margin: 0px;
    }
    
    nav{
        background-color: #a9a9a9;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
        border: 1px solid black;
        overflow: hidden;
    }
    
    nav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    nav a:hover {
        background-color:lightgrey;
    }
    
    a{
    color: black;
    }
    
    .background{
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
    }
    
    .carTile {
    text-align: center;
    margin: 0px;
    padding: 4px;
    background-color: grey;
    border: 3px solid black;
    }
    
    .centered {
    text-align: center;
    align-items: center;
    }
    
    .headerSub {
    margin-top: 0px;
    }
    
    .left-text {
    text-align: left;
    }
    
    .register{
    padding: 12px;
    margin-top: 20px;
    margin-left:33.33%;
    width: 33%;
    height: 260px;
    background-color: grey;
    border: 3px solid black;
    }
    
    .bank{
    padding: 12px;
    margin-top: 20px;
    margin-left:33.33%;
    width: 33.33%;
    height: 180px;
    background-color: grey;
    border: 3px solid black;
    text-align: right;
    }
    
    .payment{
    padding: 12px;
    margin-top: 20px;
     margin-left:33.33%;
    width: 33%;
    text-align: center;
    }
    
    .floatRight{
    float:right;
    }
    
    .bottom-container {
    position:fixed;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: white;
    }
    
    .inputInfo {
    width: 30%;
    margin: auto;
    }
    
    .container {
    position: relative;
    box-sizing: border-box;
    padding-top: 5%;
    }
    
    .container input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    }
    
    .mainText{
    padding: 20px;
    text-align: center;
    height: 100%;
    }
    
    button:hover {
    background-color:lightgrey;
    }
    
    a:hover{
    background-color:lightgrey;
    }
    
    .link {
    color: black;
    }
    .price{
    font-size: 1em;
    font-weight: 600;
    }
    
    .miles{
    font-weight: bold;
    }
    
    .productImageTwo {
    width: 400px;
    margin: 0px;
    border: 3px solid black;
    height: 241px;
    
    }
    
    table{
    margin: 0px;
    padding-top: 8px;
    margin-top: 16px;
    width: 100%;
    }
    
    .title-header {
    margin: 0px;
    padding: 10px;
    color: green;
    }
    .productBox{
    margin: auto 0;
    padding-top: 12px;
    margin-top: 48px;
    height: 100%;
    
    
     }
     .productContainer {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    }
    
    .productName{
    font-size: x-large;
    font-weight: 500;
    }
    
    .productImage {
    width: 600px;
    border-style: outset;
    }
    
    input[type=submit]{
      width: 100%;
      background-color: #e7836e;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .backgroundContainer{
        margin: auto;
        width: 30%;
        padding: 10px;
        background-color: rgba(48, 48, 48, 0.5);
        border-radius: 8px;
    }
    
    p.hover{
    cursor: pointer;
    }